h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
}

body {
    background-color: #1c1c1c;
    color: var(--bs-light);
}

.thumpnail {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9 !important;
}

.hover-primary:hover * {
    color: var(--bs-primary) !important;
    transition-duration: .2s;
}

.car-item:hover .h5 {
    color: var(--bs-primary) !important;
    transition-duration: .2s;
}

.car-item .card {
    transition: all;
    transition-duration: .2s;
}

.car-item:hover .card {
    transform: scale(105%);
    z-index: 10000;
}

@media screen and (max-width: 768px) {
    .car-item:hover .card {
        transform: none;
    }
}

.cyan-text-gradient {
    background: linear-gradient(to right, #00c4ff, #00a6ff, #006fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fade-in-text {
    opacity: 0; /* Initial state: transparent */
    animation: fadeIn 3s ease-in forwards; /* Animation applied on load */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Final state: fully visible */
    }
}

.table tr:last-child tr td, .table tr:last-child tr th {
    border-bottom: none !important;
    border-bottom-width: 0 !important;
}

table.table-center tr td {
    vertical-align: center !important;
}